<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="footer-main">
            <h3 class="title">@This is footer</h3>
            <h3 class="nav">
               
                <% if(locals.user) {%>
                <a href="/users/profile/<%=user.id%>">
                        <%=user.name%>
                </a>        
                <% } %>
                <a href="/"> Home</a>
            </h3>
        </div>
        
    </body>
</html>