<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-6">
            <div class="card hovercard">
                <div class="cardheader" style="background-image: url('<%=user.avatar%>');">
                    
                </div>
                <div class="avatar">
                    <img alt="" src="<%=user.avatar%>">
                </div>
                <div class="info">
                    <div class="title captalize black">
                        <a target="_blank " href="#"><%=user.name%></a>
                    </div>
                    <div class="desc capitalize"><%=user.email%></div>
                    <div class="desc">About-1</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm social-media-btn" href="https://twitter.com/webmaniac">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm social-media-btn" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm social-media-btn" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm social-media-btn" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>
	</div>
</div>