<!DOCTYPE html>
<html>
    <head>
         <title><%=title%></title>
    </head>
    <body>
         <%-include('_header'); %>
        <h1>SOCIALIZER/HOME</h1>
        <%-include('_footer'); %>
    </body>
</html>