<!DOCTYPE html>
<html>
    <head>
         <title></title>
         <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
         <%-include('_header'); %>
        
         <%- body %>
        
        <%-include('_footer'); %>
    </body>
</html>