<link rel="stylesheet" href="/css/user_signUp.css">
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Socializer SignUp Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/users/create" method="POST">
                <input class="text" type="text" name="name" placeholder="Username" required="">
                <input class="text email" type="email" name="email" placeholder="Email" required="">
                <input class="text" type="password" name="password" placeholder="Password" required="">
                <input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>I Agree To The Terms & Conditions</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="SIGNUP">
                <h5 style="color:white;margin-left:43%">OR</h5>
                <p ><a href="/users/auth/google"><i class="fab fa-google"></i> SignUp using Google</a></p>
            </form>
            <p>already have an Account? <a href="/users/sign-in"> Login Now!</a></p>
        </div>
    </div>
</div>
<!-- //main -->
<script type="text/javascript" src="/script/user_signUp.js"></script>