<link rel="stylesheet" href="/css/user_signIn.css">
<div class="login-page">
    <div class="form">
      <form class="login-form" method="POST" action="/users/create-session">
              <input type="text" name="email" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button value="Log In">login</button>
              <h5 style="margin-top:5px;color:cornflowerblue">OR</h5>
              <p class="message"><a href="/users/auth/google"><i class="fab fa-google"></i> SignIn using Google</a></p>
              <p class="message">Not registered? <a href="/users/sign-up">Create an account</a></p>
              <p class="message"><a href="/users/password-reset-page">Forgot your password?</a></p>
      </form>
    </div>
</div>
<script type="text/javascript" src="/script/user_signIn.js"></script>