<link rel="stylesheet" href="/css/user_profile.css">
<main >
    <%-include('_userInfo',{user:all_user}); %>
    <%if(locals.user && all_user.id==user.id){%>
        <form action="/users/profile/update/<%=user.id%>" method="POST" enctype="multipart/form-data">
            <h3>Profile Update</h3>
            <input type="text" name="name" value="<%=user.name%>" placeholder="type your name here.." required>
            <input type="email" name="email" value="<%=user.email%>" placeholder="type your email id here.." required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <button class="btn btn-dark">update</button>
        </form>
    <%}else{%>
        
    <%}%>
    
</main>


