
.post-main{
    background-color: cornflowerblue;
    min-height: 90vh;
    padding: 10px;
  
}
.post{
    margin:5px;
    text-align: center;
}
.post-container{
    width: 60%;
    // text-align: center;
    margin-top:10px;
    margin-left:8%;
    display:inline-block;
}
.friends-contianer{
    vertical-align: top;
    display: inline-block;
    margin-left: 2%;
    margin-top: 10px;
    width: 25%;
    height: 90%;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}
.blue{
    color:blue;
}
.post-item{
    margin: 2px;
}
.post-content{
    width: 100%!important;
    max-height: 100%;
    overflow: wrap;
}
.add-comment-btn{
    font-size: 0.9rem;
    width: auto;
    height: auto;
    margin:0px;
    padding: 2px;
}
.comment-submit-btn{
    font-size: 0.9rem;
    width: auto;
    height: auto;
    margin:0px;
    padding: 2px;
}
.post-delete-btn{
    padding: 0px;
    padding-top:0px;
    margin: 0px;
    height: auto;
}
.capitalize{
    text-transform: capitalize!important;
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color:rgb(40, 44, 51);
    // text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    // line-height: 1em;
}
.danger-color{
    color: rgb(220,53,69)!important;
}

.black{
    color:black;
}
.under-line{
    text-decoration: underline;
}

.custom-text{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 450;
    text-transform: capitalize;
   
}
.mgb20{
      margin-bottom: 20px;
}
.mg10{
    margin: 10px;
}
.mg5{
    margin:5px;
}
.friend{
    margin-bottom: 2px!important;
}
.li-style-numeric{
    list-style-type:decimal !important;
}
.user-profile-image{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin:15px;
}
.user-profile-image img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}