.home-main {
  background-color: cornflowerblue;
  min-height: 90vh;
  padding: 10px; }

.post {
  margin: 5px;
  text-align: center; }

.post-container {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%; }

.post-item {
  margin: 2px; }

.post-content {
  width: 100% !important;
  max-height: 100%;
  overflow: wrap; }

.add-comment-btn {
  font-size: 0.9rem;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 2px; }

.comment-submit-btn {
  font-size: 0.9rem;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 2px; }

.post-delete-btn {
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
  height: auto; }
