.home-main {
  background-color: cornflowerblue;
  min-height: 90vh;
  padding: 10px; }

.post {
  margin: 5px;
  text-align: center; }

.post-container {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%; }

.post-item {
  margin: 2px; }

.post-content {
  width: 100% !important;
  max-height: 100%;
  overflow: wrap; }

.add-comment-btn {
  font-size: 0.9rem;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 2px; }

.comment-submit-btn {
  font-size: 0.9rem;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 2px; }

.post-delete-btn {
  padding: 0px;
  padding-top: 0px;
  margin: 0px;
  height: auto; }

.capitalize {
  text-transform: capitalize; }

.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: #282c33;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em; }

.danger-color {
  color: #dc3545 !important; }
